.about  {
  background-image: url(../../img/background-double-color@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  @media(min-width: $tablet-width) {
    &:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 280px;
      background-image: url(../../img/page-decore.svg);
      background-repeat: no-repeat;
      background-size: cover;
      right: 0;
      top: 0;
    }
  }
}

.about .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  @media(min-width: $desktop-width) {
    justify-content: center;
  }
}

.slider-wrapper {
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-end
}
.slider-picture {
  margin-bottom: 15px;
}

.slider-nav {
  margin-right: 80px;
}

.button-back {
  @include button;
  padding: 0;
}

.slider-number {
  font-family: 'Prata';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 20px;
}

.button-forward {
  @include button;
  padding: 0;
}

.text-wrapper {
  max-width: 376px;
  min-height: 245px;
}

.subtitle {
  margin: 0 0 38px 0;
}

.text {
  margin: 0 0 71px 0;
}
.catalog-link {
  background-color: $firm-pink-gold;
}