.catalog .container {
  height: 720px;
}

.catalog .container .subtitle {
  text-align: center;
  margin: 0;
  padding-top: 75px;
}

.catalog__button {
  @include button;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: $firm-light-grey;
  display: block;
  padding: 0;
  margin: 0 0 76px auto;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 103px;
    height: 1px;
    background-color: $firm-light-grey;
    bottom: -4px;
  }
}

.catalog-list {
  display: flex;
  justify-content: space-between;
}

.catalog-item {
  width: 313px;
  height: 392px;
  display: flex;
  flex-direction: column;
}

.product-name {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.product-picture {
  margin-top: 39px;
}

.product-picture {
  background-image: url(../../img/decore-ellipse.svg);
  background-repeat: no-repeat;
}

.product-link {
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: $firm-black;
  position: relative;
  margin-left: 48px;

  &:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: $firm-extra-light-grey;
    top: 12px;
    left: -43px;
  }
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-price {
  font-family: "Prata";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}