.page-header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;

  @media(min-width: $tablet-width) {
    height: 85px;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 30px;
  }
}

.logo {
  font-size: 12px;
  font-family: "Playfair Display";
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 20px 20px 23px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../../img/logo-decore.svg);
    left: -22px;
    top: -1.5px;
  }

  @media(min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;

  @media(min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
  }
}

.page-nav__item {
  margin: 0;
  display: flex;
  justify-content: center;

  @media(min-width: $tablet-width) {
    &:not(:last-child) {
      margin-right: 65px;
    }
  }
}

.user-nav__list {
  display: flex;
}

.user-nav__item {
  &:not(:last-child) {
    margin-right: 23px;
  }
}

.button {
  @include button
}