//Colors
$firm-grey: #555248;
$firm-black: #1B1A17;
$firm-light-grey: #444240;
$firm-extra-light-grey: #8B8371;
$firm-pink-gold: #D4B098;
$firm-white: #FFFFFF;

//Viewports
$tablet-width: 768px;
$desktop-width: 1171px;